VITE_FIREBASE_API_KEY="your_firebase_api_key_here"
VITE_FIREBASE_AUTH_DOMAIN="boda-e038f.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="boda-e038f"
VITE_FIREBASE_STORAGE_BUCKET="boda-e038f.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1054661455492"
VITE_FIREBASE_APP_ID="1:1054661455492:web:c44deac0aef88ec6e5dcd1"
VITE_EMAILJS_SERVICE_ID="service_x9o6dqp"
VITE_EMAILJS_PUBLIC_KEY="upVZVrEQK1ktVGnoc"
VITE_EMAILJS_TEMPLATE_ID="template_xxxxxx"
VITE_GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
