@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
    font-family: 'Tajawal', system-ui, -apple-system, sans-serif;
  }
}


@theme {
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

body {
  @apply bg-slate-950 text-slate-50;
}